# Clojure/Cryogen (legacy)
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
/public/
/themes/lotus/css/blog.css
/themes/lotus/css/blog.css.map
.cpcache/
/.clj-kondo/
/.lsp/

# Hugo
hugo-site/public/
hugo-site/resources/
hugo-site/.hugo_build.lock
.hugo_build.lock

# General
.DS_Store
*.swp
*.swo
*~
